<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <ul>
        <form method="post">
            <li>
                <span>开始id:</span>
                <input type="text" name="stat_id">
            </li>
               <li>
                <span>结束id:</span>
                <input type="text" name="stop_id">
            </li>
            <li>
                <input type="submit" value="查找">
            </li>
        </form>
    </ul>
</body>
</html>